.cw-logo {
  width: 300px;
}

::placeholder {
  color: white;
  font-size: 1.6rem;
}

.inp-text {
  color: white;
  font-size: 1.6rem;
  outline: white;
}

.kapsayici-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.kapsayici-div div {
  background-color: white !important;
  margin: 25px;

  width: 22% !important;
  border-radius: 15px;
  color: black;
  box-shadow: 20px 25px 30px rgb(30, 16, 224);
}

.sehirAdi {
  font-size: 2rem;
  margin-top: 40px;
  margin-bottom: 40px;
}
.derece {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.derece .celcius {
  font-size: 2.5rem;
  font-weight: 300;
}

i {
  font-size: 5rem;
  margin-top: 20px;
  margin-bottom: 10px;
}
.situation {
  font-size: 1.5rem;
  margin: 40px 0;
}

.sehirAdi sup.country-code {
  background-color: yellow !important;
  font-size: 4rem;
  color: purple !important;
}

.samecity-display {
  width: 50%;
  margin: -40px auto;
  color: rgb(169, 14, 14);
  font-size: 1.5rem;
  font-weight: 500;
}
